body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pseudoHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.text {
  margin: 50px 0 50px;
  width: 500px;
  font: bold 20px/25px arial;
  color: green;
}

#textArea {
  font: bold italic 20px/25px arial;
  display: block;
  width: 500px;
  height: 200px;
  border-color: red;
  border-radius: 25px;
  padding: 25px;
  text-align: center;
}

#textArea:hover {
  border-color: white;
}

#textArea:disabled {
  background-color: red;
}

.result {
  text-align: center;
  font: bold italic 100px/100px Georgia, serif;
  color: rgba(74, 209, 49, 0.8);
  text-shadow: 4px 4px rgba(74, 209, 49, 0.3);; 
}

.centralPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}



.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  width: 33%;
}

button {
  border-radius: 25px;
  width: 300px;
  height: 100px;
  background-color: yellow;
  font: bold 25px georgia;
  border: 1px solid orange;
  box-shadow: 10px 10px rgba(255, 252, 127, 0.8);
}

.count {
  text-align: center;
  font: bold 85px/75px georgia;
  width: 33%;
}

.mistake {
  font: bold 50px/60px georgia;
  color: red;
  text-align: center;
  width: 75%;
  margin: 50px auto 0px;
}

.forButton {
  text-align: center;
}

.forButtonTry {
  background-color: green;
  color: white;
  box-shadow: 10px 10px rgba(74, 209, 49, 0.3);
}

.line {
  margin: 25px auto;
  width: 300px;
  height: 25px;
  border: solid green 1px;
  border-radius: 25px;
  overflow: hidden;
}

.progres {
  width: 0%;
  height: 25px;
  background-color: green;
}

.hearts {
  width: 243px;
  margin: 25px auto;
}

.explaining {
  position: absolute;
  z-index: 2;
  width: 30%;
  min-height: 60%;
  border: 10px double aquamarine;
  border-radius: 30px;
  box-shadow: inset 0px 0px 25px aquamarine;
  left: 35%;
  top: 20%;
  padding: 25px;
}

.explaining p:first-of-type {
  text-align: center;
  font: bold 25px/30px georgia;
}

.explaining li {
  font: italic 18px/22px georgia;
  margin: 0 25px 5px 0;
  text-align: justify;
}

.explaining p:last-of-type{
  text-align: justify;
  font: bold 15px/20px georgia;
}

.main {
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 0;
  opacity: 0.04;
}

.closeWindow {
  position: absolute;
  z-index: 3;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 15px;
}


.closeWindow span:first-of-type {
  width: 25px;
  height: 2px;
  border: 1px solid #33ffba ;
  position: absolute;
  z-index: 3;
  rotate: 45deg;
  top: 10px;
  background-color: #33ffba 
}

.closeWindow span:last-of-type {
  width: 25px;
  height: 2px;
  border: 1px solid #33ffba ;
  position: absolute;
  z-index: 3;
  rotate: -45deg;
  top: 10px;
  background-color: #33ffba 
}

.closeWindow:hover span {
  background-color: green;
  border: 1px solid green;
}

.pussy {
  border-radius: 25px;
  width: 300px;
  height: 50px;
  background-color: rgb(255, 192, 203);
  color: rgb(181, 121, 121);
  font: bold 15px georgia;
  border: 1px solid orange;
  box-shadow: 10px 10px 5px rgba(181, 121, 121, 0.8);
}

.hard {
  border-radius: 25px;
  width: 300px;
  height: 50px;
  background-color: rgb(49, 42, 42);
  font: bold 15px georgia;
  color: white;
  border: 1px solid #ffa500;
  box-shadow: 10px 10px 5px rgba(34, 34, 31, 0.8);
}

.upperButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}